@import url("https://fonts.googleapis.com/css?family=Jost&display=swap");

:root {
  color: rgba(255, 255, 255, 0.87);
}

body {
  font-family: "Jost", sans-serif;
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  background-image: url("https://equalvision.com/cdn/shop/t/13/assets/BCK.jpg");
}
